/*======GOOGLE FONTS=====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Space+Grotesk:wght@500;700&display=swap");

/*======variables css=======*/
:root{
    --header-height: 3.5 rem;





    --first-hue: 250;
    --sat: 60%;
    --lig: 75%;
    --second-hue: 219;

    --first-color: hsl(var(--first-hue),var(--sat),var(--lig));
    --first-color-alt: hsl(var(--first-hue),var(--sat),71%);/*-4%*/
    --title-color: hsl(var(--second-hue),15%,95%) ;
    --text-color: hsl(var(--second-hue), 8%,75%);
    --text-color-light: hsl(var(--second-hue), 4%,55%); 
    --body-color: hsl(var(--second-hue), 48%,8%);
    --container-color: hsl(var(--second-hue), 32%,12%);

    /*========font and typography============*/
    /*.5rem = 8px| 1rem = 16px ....*/
    --body-font: 'Poppins', sans-serif ;
    --biggest-font-size: 1.75rem ;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem ;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;


    /*=============font weight============*/

    --font-medium: 500;
    --font-semibold: 600;

    /*=============z index================*/

    --z-tooltip: 10 ;
    --z-fixed: 100;
    --z-model: 1000;
}

    /*====responsive tyography=======*/
@media screen and (min-width: 968px) {
    :root {
    --biggest-font-size: 2.5rem ;
    --h1-font-size: 2.25rem; 
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem  ;
    }
}

/*===============BASE===========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,p{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

/* .skills-items */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border:none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto ;
}




/*==========THEME==========*/

.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    color: var(--first-color);
}

/*========VARIABLES LIGHT THEME===========*/

body.light-theme{
    --title-color:hsl(var(--second-hue), 15%, 15%);
    --text-color:hsl(var(--second-hue), 8%, 35%);
    --body-color:hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;
}

/*========COLOR CHANGE SOME PARTS OF WEBSITE===========*/

.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

.light-theme .nav__menu{
    background-color: hsla(var(--second-hue),32%, 90%, .8);
}

.light-theme .section__subtitle{
    color: var(--text-color);
}

.light-theme .home__social-link{
    box-shadow: 0 2px 4px hsla(var(--second-hue),48%, 9%, .1);
}

.light-theme .home__social::after{
    background-color: var(--title-color);
}


.light-theme .home__social-link,
.light-theme.home__scroll,
.light-theme .button,
.light-theme .button:hover{
    color: var(--text-color);
}




/*========REUSEABLE CSS CLASSES===========*/

.container{
    max-width: 1500px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle{
    text-align:center;
}

.section__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


/*===============HEADER & NAv==========*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav__logo:hover{
    color: var(--first-color-alt);
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue),32%,16%,.8);
    width: 96%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color:var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

.active-link{
    background: linear-gradient(180deg,
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2) );

                box-shadow: 0 0 16px hsla(var(--first-hue),var(--sat),var(--lig), .4);

                border-radius: 20px;
}

/* change background header */

/*=============HOME===========*/
.home__container{
    position: relative;
    row-gap: 4rem;
    padding-top:2rem ;
}

.home__data{
    text-align: center;
}

.home__greeting,
.home__education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.home__greeting{
    display: block;
    color: var(--title-color);
}

.home__education{
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.home__name{
    font-size: var(--biggest-font-size);
}

.home__img{
    width: 160px;
}

.home__handle{
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(var(--first-hue),var(--sat),var(--lig), 1),
                hsla(var(--first-hue),var(--sat),var(--lig), .2)
                );

    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home__social,
.home__scroll{
    position: absolute;
}


.home__social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home__social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
    
}

.home__social-link:hover{
    background-color: var(--first-color);
    color: #fff;
    /* border-radius: .6rem; */
}

.home__social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
}

.home__scroll{
    color:var(--first-color);
    right:-1.5rem;
    bottom:4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}

.home__scroll-icon{
    font-size: 1.25rem;
}

.home__scroll-name{
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
}

/*=============BUTTONS===========*/

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var(--first-color-alt);
    color:var(--body-color) ;
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}






/*=============ABOUT===========*/

.about__img{
    height: 12rem;
}

.skills{
    display:flex;
    gap: 4%;
}

.date{
    color: var(--body-color);
}
.skills-items{
    background-color: rgba(255, 255, 255, 0.153)  ;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--title-color);
}

.about__container{
    line-height: 1.5;
    background-color: var(--first-color);
    /* background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
    padding:2rem;
    padding-bottom:400px ;
    margin: 0 auto;
    max-width: 800px;
    height: 1200px;
    border-radius: 100px;
}

.top__section{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline{
    position: relative;
    min-height: 130px;
}

.line{
    position: absolute;
    left: 22px;
    width: 2px;
    top: 0;
    bottom: -130%;
    background-color: #000;
}


.section1{
    display: flex;
    position: relative;
    z-index: 1;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 200px;
}

.timeline-items::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 13px;
    background-color: #000;
    top: 16px;
    left: 0;
    border-radius: 50%;
}

.timeline-items{
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}



/*=============CONTACT=============*/
.contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact__info{
    display: grid;
    gap:1rem;
}

.contact__card{
    background-color: var(--container-colour);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}

.contact__card-title{
    font-weight: var(--font-medium);
}

.contact__card-data{
    display: block;
    margin-bottom: 0.75rem;
}

.contact__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.50rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}

.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .85rem;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top:  -.75rem;
    left: 1.2rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form-area{
    height: 11rem;
}

.contact__form-area textarea{
    resize: none;
}



/*=============FOOTER===========*/

.footer{
    background-color: var(--first-color);
}

.footer__container{
    padding: 2rem 0 6rem;

}

.footer__title,
.footer__link{
    color: var(--body-color);
}

.footer__title{
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size); 
}


/*=============SCROLL BAR===========*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue), 8%, 26%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%,20%);
}



/*=============SKILLS===========*/






